name: Build Windows & Linux Versions

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:

  # -------------------
  # WINDOWS BUILD
  # -------------------
  build-windows:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install pillow
          pip install pyinstaller

      - name: Build EXE
        run: pyinstaller main.spec --clean

      - name: Upload Windows EXE Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Hangman-Windows
          path: dist/HangmanGame/*


  # -------------------
  # LINUX BUILD
  # -------------------
  build-linux:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install system deps (needed for Tkinter)
        run: |
          sudo apt-get update
          sudo apt-get install -y python3-tk

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install Python dependencies
        run: |
          pip install pillow
          pip install pyinstaller

      - name: Build Linux Executable
        run: pyinstaller main.spec --clean

      - name: Upload Linux Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Hangman-Linux
          path: dist/HangmanGame/*
