name: Build Windows EXE

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: windows-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install pillow pyinstaller

      - name: Build EXE
        run: |
          pyinstaller --onefile --windowed main.py

      - name: Upload EXE artifact
        uses: actions/upload-artifact@v4
        with:
          name: HangmanGame-Windows
          path: dist/main.exe
